<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>有情盛惠，福利翻倍</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/acts/doubleEle/css/luckWheel.css">
  <script src="/common/js/autoFixedLayout.js"></script>
</head>
<body class="luckWheel">
  <div class="section"><img src="/acts/doubleEle/images/doubleEle_2017_01.png" alt="第1张"></div>
  <div class="section">
    <img src="/acts/doubleEle/images/doubleEle_2017_02.png" alt="第2张">
    <div class="plate_wrap">
      <div class="plate">

      </div>
      <div class="luck_arrow trigger"></div>
    </div>
    
    <a href="javascript:void(0)" class="my_award" id="myAward"></a>
    
  </div>
  <div class="section">
  	<img src="/acts/doubleEle/images/doubleEle_2017_04.png" alt="第3张">
  	<a href="javascript:;" id="invest_btn"></a>
  </div>
  
  	<div class="Nochance">
  		<div class="close"></div>
  	</div>

  <%include ../js.html%>
  <script src="/acts/doubleEle/js/jquery.easing.min.js"></script>
  <script src="/acts/doubleEle/js/jQueryRotate.2.2.js"></script>
  <script src="/acts/doubleEle/js/script.js"></script>
  
</body>
</html>
