<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇元金服，银行存管正式签署</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <script src="/common/js/autoFixedLayout.js"></script>
    <style>
        ._content{
            width: 100%;
        }
        ._content img{
            display: block;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="_content">
        <img src="/acts/actCommon/images/cg_content_wap.png" alt="">
    </div>
</body>
</html>