<div class="newhand-detail">
	<div class="detail-item desc">
		<div class="detail-item-title">
			产品描述
		</div>
		<div class="detail-item-content item-a">
			<div>
				<p>针对人群</p>
				<p>针对在汇元金服注册的新用户</p>
				<img src="../../images/newhand/pro_new_a.png">
			</div>
			<div>
				<p>产品特点</p>
				<p>周期短、收益高！</p>
				<img src="../../images/newhand/pro_new_b.png">
			</div>
			<div>
				<p>参与规则</p>
				<p>起投金额100元，最高投资金额2万元</p>
				<img src="../../images/newhand/pro_new_c.png">
			</div>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">
			回款方式
		</div>
		<div class="detail-item-content item-b">
			<div>
				<p>到期</p>
				<p>新手标7天到期</p>
			</div>
			<div>
				<p>到期后</p>
				<p>本金+收益返回到个人帐户</p>
			</div>
			<div>
				<p>提现</p>
				<p>可随时随地提现、再投资</p>
			</div>
		</div>
	</div>
	<div class="detail-item">
		<div class="detail-item-title">
			累计收益
		</div>
		<div class="detail-item-content item-c">
			<div>*投资100000元, 7天最大收益对比(元)</div>
			<img src="../../images/newhand/pro_new_d.png">
			<div>以100000元举例：<br/>12.8%收益，7天后就到手，收益多赚248.88元</div>
		</div>
	</div>
</div>