<!DOCTYPE html>
<!--HYXE-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汇元金服-新手注册</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/common/css/common.css">
    <link rel="stylesheet" type="text/css" href="/acts/cpsRegister/css/cpsReg.css">
    <script src="/common/js/autoFixedLayout.js"></script>
    <style>
        .semContent{
            background-color: #f6b343;
        }
        .semBanner{
            width: 100%;
        }
        .semContent img{
            width: 100%;
        }
        .rule_box{
            color: #fff;
            padding: 0.3rem 0;
            background-color: #da9303;
        }
        .rule_box h2{
            font-size: 0.3rem;
            margin: 0.2rem 0;
        }
        .rule_box p{
            width: 5.6rem;
            color: #fff;
            margin: auto;
            text-align: left;
            line-height: 1.2;
            font-size: 0.2rem;
        }
    </style>
</head>
<body class="cpsRegSec">

<div class="semContent">
    <div class="semBanner"><img src="/acts/cpsRegister/images/HYXE_2.png"></div>
    <div class="semBox semWrap ">
        <div class="formBox">
            <form action="" id="registerForm" class="clearfix">
                <div class="form_item">
                    <div class="form_component">
                        <input type="text"
                               placeholder="请输入手机号码"
                               maxLength="11"
                               name="mobile"
                               pattern="[0-9]*"
                        />
                    </div>
                </div>
                <div class="form_item">
                    <div class="form_component style2">
                        <input type="text" placeholder="验证码" class="f_left" name="imgVCodeInput" maxlength="4"/>

                        <a href="javascript:void(0)" class="vcode">
                            <img src="" alt="" id="imgVCode">
                        </a>
                    </div>
                </div>
                <div class="form_item">
                    <div class="form_component style2">
                        <input type="text"
                               placeholder="手机验证码" class="f_left"
                               name="vCode"
                               pattern="[0-9]*"
                               maxlength="4">
                        <a href="javascript:void(0)"
                           class="btn"
                           id="vCode">获取验证码</a>
                    </div>
                </div>
                <div class="form_item">
                    <div class="form_component">
                        <input type="password"
                               placeholder="设置密码，6-18位数字字母组合"
                               autocomplete="off"
                               maxlength="18"
                               name="password"/>
                    </div>
                </div>
                <div class="form_item clearfix checkProtocol">
                    <div class="form_component">
                        <input type="checkbox" id="checkProtocol" checked> <label for="checkProtocol">我已阅读且同意《<a href="javascript:void(0)" id="openProtocol">用户注册协议</a>》</label>
                    </div>
                </div>
                <div class="form_item clearfix ">
                    <div class="form_component">
                        <a href="javascript:void(0)" class="btn registerBtn" id="btnSubmit">立即领取</a>
                    </div>
                </div>
            </form>

        </div>
        <div class="content_pic">
            <img src="/acts/cpsRegister/images/HYXE_1.png"></div>
    </div>
    <!--<div class="semFooter">-->
        <!--<div class="rule_box">-->
            <!--<h2>活动规则</h2>-->
            <!--<p>-->
                <!--1.活动时间：2017年7月31日起。<br>-->
                <!--2.活动对象：汇元金服所有的用户；<br>-->
                <!--3.注册即可获得680元红包，可在汇元金服的个人账户中查看；<br>-->
                <!--4.本活动最终解释权归汇元金服所有，如有疑问可拨打官方热线：400-872-9577。<br>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
</div>
<% include ../js.html %>
<script src="/acts/cpsRegister/js/script2.js"></script>
</body>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d66cdc68c764bbcd1f32ace756dca216";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</html>
