<div class="wrap wap-more-box" ng-controller="aqbzDetailCtrl" style='margin-bottom:0;'>
	<div class="common-head" ng-click="toback()" ng-if="wap" style='margin-bottom:0;'>
		<i></i>
		<p>{{title}}</p>
	</div>
	<div class="detail_aqbz">
		<img src="images/AQBZ/safetys.png" alt="" />
		<!--<img src="images/AQBZ/aqbz1.png">
		<img src="images/AQBZ/aqbz2.png">
		<img src="images/AQBZ/aqbz3.png">-->
		<!-- <img src="images/AQBZ/aqbz-a.png" />
			<img src="images/AQBZ/aqbz-b.png" />
			<img src="images/AQBZ/aqbz-c.png" />
			<img src="images/AQBZ/aqbz-d.png" />
			<img src="images/AQBZ/aqbz-e.png" />
			<img src="images/AQBZ/aqbz-f.png" />
			<img src="images/AQBZ/aqbz-g.png" />
			<img src="images/AQBZ/aqbz-h.png" />
			<img src="images/AQBZ/aqbz-i.png" />
			<img src="images/AQBZ/aqbz-j.png" /> -->
	</div>
</div>