<div class="wap-more-box" ng-controller="aqbzCtrl">
    <div class="common-head" ui-sref="main.home" ng-if="wap=='true'"><i></i>
        <p>{{title}}</p>
    </div>
    <div class="aqbzContent">
        <img src="images/newaqbz/aqbza.png" />
        <img src="images/newaqbz/aqbzb.png" />
        <img src="images/newaqbz/aqbzc.png" />
        <img src="images/newaqbz/aqbzd.png" />
        <img src="images/newaqbz/aqbze.png" />
        <img src="images/newaqbz/aqbzf.png" />
        <img src="images/newaqbz/aqbzg.png" />
        <img src="images/newaqbz/aqbzh.png" />
        <img src="images/newaqbz/aqbzj.png" />
        <div class="bot">
            <img src="images/newaqbz/aqbzo.png">
            <div class="file-box" ng-click="showFile = true;"></div>
        </div>
        <div class="aqbzContent-list">
            <h1>360°层层风控  理财更放心</h1>
            <p class="fontsize1">贷前贷中贷后层层审核,筛选优质借款人,保障投资人资金安全</p>
            <p class="fontsize2">层层审核，仅筛选优质借款人</p>
            <p class="fontsize1">严格借款申请</p>
            <div class="aqbzContent-box">
                <div class="aqbzContent-box-left">
                    <img src="images/newaqbz/icona.png" />
                    <span>规范筛选优质项目</span>
                </div>
                <div class="aqbzContent-box-right iconone">筛选资产端:通过优质渠道严格的项目准入。</div>
            </div>
            <div class="aqbzContent-box">
                <div class="aqbzContent-box-left">
                    <img src="images/newaqbz/iconb.png" />
                    <span>实地考察审核</span>
                </div>
                <div class="aqbzContent-box-right icontwo">
                    <div class="aqbzContent-box-text">
                        <div>
                            <p>
                                针对优质借款项目,进行严格实地考察,借款人基本情况、经营状况、财务状况、借款用途、还款来源、担保情况进行严禁和系统的调查。
                                <br>针对企业借款人，平台负责收集调查并核实以下资料：
                                <br>1）企业法人营业执照（通过年检） 2）企业法人代码证书（通过年检） 3）税务登记证（通过年检） 4）验资报告（附会计师事务所营业执照复印件） 5）工商登记信息查询 6）公司章程（含股东签字样本） 7）企业简介 8）法定代表人证明书 9）法定代表人身份证 10）企业法人代表履历表 11）财务负责人身份证 12）法人代表授权委托书 13）委托授权人身份证及简历 14）近三年审计报告（附会计师事务所营业执照复印件） 15）贷款卡及其密码 16）企业贷款卡年审回执单 17）银行开户许可证 18）企业资产明细表 19）长、短期借款明细 20）资金用途说明 21）经营情况介绍 22）项目相关合同复印件 23）其他说明企业实力的资料 24）企业股东会签字字样 25）企业股东会决议（含股东签字页）
                            </p>
                        </div>
                    </div>
                    <span class="more" ng-click="showMore($event)">查看更多</span>
                </div>
            </div>
            <p class="fontsize1"><img src="images/newaqbz/iconjt2.png" /></p>
            <p class="fontsize2">全程监管，保障资金安全</p>
            <p class="fontsize1">筛选优质借款人</p>
            <div class="aqbzContent-box">
                <div class="aqbzContent-box-left">
                    <img src="images/newaqbz/iconc.png" />
                    <span>签订法律协议</span>
                </div>
                <div class="aqbzContent-box-right iconone">
                    <div class="aqbzContent-box-text">
                        <div>
                            <p>
                                汇元金服及认证合作机构的专业风控团队建立了完善的贷后监控及预警系统，在借款项目还款期间通过多种渠道紧密跟踪借款人的资金情况，更有效的降低逾期风险。
                            </p>
                        </div>
                    </div>
                    <span class="more" ng-click="showMore($event)">查看更多</span>
                </div>
            </div>
            <div class="aqbzContent-box">
                <div class="aqbzContent-box-left">
                    <img src="images/newaqbz/icond.png" />
                    <span>贷后监控管理</span>
                </div>
                <div class="aqbzContent-box-right icontwo">
                    <div class="aqbzContent-box-text">
                        <div>
                            <p>
                                每笔借款项目均会在线生成具有法律效力的电子协议,明确投资人与借款人之间的借贷关系,约束借款人按时履行还款义务。电子协议由 汇元金服及合作的两大顶级律师事务所团队制定,协议内容及形式均符合相关法律法规规定。
                            </p>
                        </div>
                    </div>
                    <span class="more" ng-click="showMore($event)">查看更多</span>
                </div>
            </div>
            <p class="fontsize1"><img src="images/newaqbz/iconjt2.png" /></p>
            <p class="fontsize2">多重防线，有效抵御风险</p>
            <p class="fontsize1">若借款人未能及时还款</p>
            <div class="aqbzContent-box">
                <div class="aqbzContent-box-left">
                    <img src="images/newaqbz/icone.png" />
                    <span>快速专业催收</span>
                </div>
                <div class="aqbzContent-box-right iconone">
                    <div class="aqbzContent-box-text">
                        <div>
                            <p>
                                专业催收团队跟踪追偿，通过电话、登门等方式紧密追踪借款人，督促其尽快还款，维护信用。
                            </p>
                        </div>
                    </div>
                    <span class="more" ng-click="showMore($event)">查看更多</span>
                </div>
            </div>
            <div class="aqbzContent-box">
                <div class="aqbzContent-box-left">
                    <img src="images/newaqbz/iconf.png" />
                    <span>足额抵押物变现</span>
                </div>
                <div class="aqbzContent-box-right icontwo">
                    <div class="aqbzContent-box-text">
                        <div>
                            <p>
                                对于抵押借款项目，经过严格的考查审核、评估抵质押物，确保其足额覆盖风险。在借款人无法及时还款时，将启动抵质押物处置变现程序。
                            </p>
                        </div>
                    </div>
                    <span class="more" ng-click="showMore($event)">查看更多</span>
                </div>
            </div>
            <p class="fontsize1"><img src="images/newaqbz/iconjt2.png" /></p>
            <p class="fontsize2">更多保障措施，让您安枕无忧</p>
            <img src="images/newaqbz/aqbzbtn.png" class="aqbzbtn" />
        </div>
    </div>
    <div class="aqbzcheck-wrap" ng-show="showFile" ng-click="showFile = false;">
        <div class="aqbzcheck-box">
            <img src="images/guarantee-file.png">
        </div>
    </div>
</div>
