<div class="wap-cjwt-box" ng-controller="RZZCCtrl">
        <div class="common-head" ng-click="toback()" ng-if="wap">
            <i></i>
            <p>{{title}}</p>
        </div>
        <div class="content">
                <div class="question-box">
                    <div class="question-title" ng-click="onClick(0)">
                        <p>平台有哪些产品？</p>
                        <i></i>
                    </div>
                    <div class="question-content" ng-show="num1">
                        <p>新手专享：</p>
                        <p>期限：15天，年化收益18%，起投金额：100元。</p>
                        <p>普通产品：</p>
                        <p>期限：30天，年化收益9%，起投金额：500元；</p>
                        <p>期限：45天，年化收益9.5%，起投金额：500元；</p>
                        <p>期限：60天，年化收益10%，起投金额：500元；</p>
                        <p>期限：90天，年化收益11%，起投金额：500元；</p>
                        <p>期限：180天，年化收益12%，起投金额：500元。</p>
                    </div>
                </div>
            </div>
    </div>