<div class="wap-cjwt-box" ng-controller="RZZCCtrl">
    <div class="common-head" ng-click="toback()" ng-if="wap">
        <i></i>
        <p>{{title}}</p>
    </div>
    <div class="content">
        <div class="question-box">
            <div class="question-title" ng-click="onClick(0)">
                <p>平台支持哪些银行卡？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num1">
                <p>个人网银充值银行：工商银行，农业银行，建设银行，中国银行，民生银行，招商银行，浦发银行，广发银行，华夏银行，邮储银行，光大银行，交通银行，中信银行，东亚银行</p>
                <p>借记卡快捷支付银行：中国银行，中国工商银行，中国农业银行，交通银行，广发银行，中国建设银行，浦发银行，中国邮政储蓄银行，中国民生银行，兴业银行，中信银行，华夏银行，中国光大银行，平安银行恒丰银行</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(1)">
                <p>提现什么时候到账？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num2">
                <p>17:30前的提现当日到账，17:30之后的提现第二个工作日到账；</p>
                <p>周末及节假日的提现均在节假日后第一个工作日到账;</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(2)">
                <p>充值失败了是什么原因？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num3">
                <p>充值失败的原因可能是：</p>
                <p>(1) 银行卡身份证信息与第三方托管身份信息不一致。</p>
                <p>(2) 充值金额大于银行单笔或单日累计最高额。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(3)">
                <p>提现收费吗？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num4">
                <p>提现手续费按2元固定收取，每月前两笔提现免费，由汇元金服投资平台代用户承担，第三笔开始由用户自己承担。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(4)">
                <p>项目怎样还款，收益怎样计算？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num5">
                <p>平台采取T+1的起息方式，还款方式为到期结清（一次性还本付息）。</p>
                <p>利息=（投资金额*预期年化）/360*实际投资天数。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(5)">
                <p>如何获得红包或者加息券？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num6">
                <p>(1) 新手注册，完成各项认证即可获得新人大礼包；</p>
                <p>(2) 邀请好友，将您的邀请码或者邀请好友页面中的邀请链接发送给好友，您的好友通过该链接进行注册后方可获得推荐关系；或者直接在注册界面中自行填写您的邀请码后完成推荐。每成功推荐一位好友注册，可获得20元红包，好友也可获得平台5188元新人红包。邀请5位好友以上还可额外获得40元红包，推荐人每月最多可获得300元的邀请大礼哦！</p>
                <p>(3) 平台不定期推出的各项活动即可获得相应的红包及加息券，欢迎大家时常关注汇元金服。</p>
                <p>(4) 以上活动新手标不参与。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(6)">
                <p>怎么充值？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num7">
                <p>手机端：手机端目前仅支持借记卡快捷充值，充值前需要先绑定银行卡并签订借记卡快捷支付协议，绑卡时需要输入的银行卡预留的手机号码。若有出入，可在页面直接修改。充值时需用户提供富友支付发送的短信验证码，用户无需担心资金安全；</p>
                <p>PC端：进入我的账户，点击充值按钮，然后选择相应的银行，输入充值金额后点击确定充值，跳转到银行充值页面窗口。网银充值支付银行，选择网银充值目前支付公司不做限额处理，取决于您的银行卡网银额度设定。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(7)">
                <p>充值收费吗？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num8">
                <p>充值免费，充值过程中的费用由汇元金服投资平台代用户承担。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(8)">
                <p>大额充值怎么办？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num9">
                <p>如果您充值金额超过银行快捷支付限额，可以选择在电脑端通过网银支付。或者将您的充值额分成限制内的小额多次充值。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(9)">
                <p>提现失败了是什么原因？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num10">
                <p>（1） 提下银行卡不是您本人名下的卡</p>
                <p>（2） 提现后账户中余额不够支付提现手续费。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(10)">
                <p>项目回款一般什么时间点会到账？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num11">
                <p>平台采用自动还款功能，还款程序于项目到期日的当天上午9:30开始还款，具体回款到账时间会因到期日回款人数、回款项目数影响，略有延迟。</p>
            </div>
        </div>
        <div class="question-box">
            <div class="question-title" ng-click="onClick(11)">
                <p>投资失败了是什么原因？</p>
                <i></i>
            </div>
            <div class="question-content" ng-show="num12">
                <p>（1）账户内可用余额不足，需要充值；</p>
                <p>（2）理财产品剩余可申购金额不足；</p>
                <p>（3）此理财产品被取消；</p>
            </div>
        </div>
    </div>
</div>