<div class="wap-more-box" ng-controller="GSJSIosCtrl">
    <div class="common-head" ng-click="toback()" ng-if="wap=='true'">
        <i></i>
        <p>走进汇元</p>
    </div>
    <div class="zjjs-content">
        <!--<img src="/images/more/qiantai.png" alt="">-->
        <div class="gsjj-box">
            <h2>公司简介</h2>
            <p>汇元金服，全称杭州上陈金融服务外包有限公司，2009年4月10日成立，坐落于景色宜人的杭州，注册资金5000万人民币。公司拥有强大的国资背景，是由多名国内金融投资、风险管理以及高新互联网技术领域的资深专家联合组建的专业金融信息服务平台。</p>
            <br>
        </div>
        <div class="aboutHY">
        	<h2>关于汇元</h2>
        	<div class="hy-content">
        		<p class="content-title">公司愿景</p>
        		<p class="content-text">汇元金服以成为国内值得信赖的互联网金融信息服务平台为使命， 以打造一流的金融信息平台为目标，专注于资产项目投融资、资产 配置管理、在线投融资咨询等各项服务。</p>
        	</div>
        	<div class="hy-content">
        		<p class="content-title">服务理念</p>
        		<p class="content-text">我们以客户为核心，始终将客户的需求放在第一位，致力于为广大 投资理财客户提供专业的信息对接及全程管家式服务。</p>
        	
        </div>
        <div class="hy-content">
        		<p class="content-title">团队精神</p>
        		<p class="content-text">因为热爱，所以坚持；因为共同的梦想和愿景，所以相聚。我们是 拼搏奋进的金融人，我们是始终坚守的服务者。</p>
        	</div>
        <div class="hy-team">
        	<h2>汇元团队</h2>
        	<img src="images/more/team-img.png?v=1" alt="" />
        </div>
        <div class="ywms-box">
            <h2>团队相册</h2>
            <!--<img src="/images/more/ywms.png?v=1" alt="">-->
            	<img src="images/more/team-img-list.png?v=1" alt="" />
        </div>
    </div>
</div>