<div class="hysj" ng-controller="HYSJCtrl">
    <div class="hysj-content">
        <i class="title-icon"></i>
        <div class="title">
            <p class="head">营业执照</p>
            <p>2009年4月10日，杭州大汇元网络科技有限公司正式成立。</p>
        </div>
        <div class="img">
            <img src="images/xxpl/yyzz.png" alt="">
        </div>
    </div>
    <div class="hysj-content">
        <i class="title-icon"></i>
        <div class="title">
            <p class="head">开户许可证</p>
            <p>2017年7月6日，在中国民生银行办理此证。</p>
        </div>
        <div class="img">
            <img src="images/xxpl/khxkz.png" alt="">
        </div>
    </div>
    <div class="hysj-content ICP">
        <i class="title-icon"></i>
        <div class="title">
            <p class="head">ICP认证</p>
            <p>汇元金服已于2017年10月27日获得由浙江省通信管理局颁发的《中华人民共和国电信增值业务经营许可证》。（以下简称“ICP许可证”）。 ICP许可证是网站经营的许可证,根据国家《互联网信息服务管理办法》规定经营性网站必须办理中华人民共和国增值电信业务经营许可证，汇元金服一直坚守安全合规运营的原则，积极主动拥抱监管，
                现获得这一许可证，说明平台朝更加安全、合规、健康的发展道路上迈出了稳健的一步。
            </p>
        </div>
        <div class="img icpRZ">
            <img src="images/xxpl/ICP.png" alt="">
        </div>
    </div>
    <div class="hysj-content">
        <i class="title-icon"></i>
        <div class="title">
            <p class="head">银行存管</p>
            <p>汇元金服与浙江民泰商业银行资金存管系统于2017年9月4日正式签署合作协议，此次汇元金服携手浙江民泰银行正式签署存管协议， 两者强强联手，不仅能有效的推动汇元金服合规化进程的步伐，成为行业中签订属地化银行存管的先行军，也将实现传统金融行业与互联网金融行业的优势互补、共创双赢的新局面。
            </p>
        </div>
        <div class="img yhcg">
            <img src="images/xxpl/cgxy_1.png" alt="">
            <img src="images/xxpl/cgxy_2.png" alt="">
        </div>
    </div>
    <div class="hysj-content aqlm">
        <i class="title-icon"></i>
        <div class="title">
            <p class="head">安全联盟行业认证</p>
            <p>2017年8月29日，汇元金服已经成功通过“安全联盟”行业验证获“安全联盟信誉企业”的称号!说明汇元金服平台已被收录至安全联盟信誉档案库，并获得权威验证标识及信誉档案证明，可接受全国用户公开查询，有效提升网站信誉，建立一个更安全、透明的金融信息服务平台。
            </p>
        </div>
        <div class="img AQLM">
            <img src="images/xxpl/aqlm.png" alt="">
        </div>
    </div>
    <div class="hysj-content jrkj">
        <i class="title-icon"></i>
        <div class="title">
            <p class="head">浙江省金融科技协会会员单位</p>
            <p>2017年8月3日，汇元金服正式成为浙江省金融科技协会的会员单位。浙江省金融科技协会，中国首个金融科技协会，宗旨为金融科技行业企业组织起来，在政府和企业之间起到桥梁和纽带作用，为企业的经营和行业的发展提供服务， 协助政府部门进行行业管理和提供决策依据，从而以数据和技术为核心驱动力，实现金融科技的核心价值——为金融行业提供服务、提高金融效率、降低金融成本。
            </p>
        </div>
        <div class="img JRKJ">
            <img src="images/xxpl/jrkj.png" alt="">
        </div>
    </div>
</div>