<div class="lxwm" ng-controller="GYWMCtrl">
    <div class="lxwm-img">
        <img src="images/xxpl/map.png" alt="">
    </div>
    <div class="lxdh">
        <div class="left">
            <div>
                <i class="phone"></i>
                <strong>400-872-9577</strong>
            </div>
            <div>
                <i class="qq"></i>
                <strong>4008729577</strong>
            </div>
        </div>
        <div class="right">
            <img src="images/xxpl/code.png" alt="">
            <p>掌上汇元公众号</p>
        </div>
    </div>
    <div class="text">
        <p>杭州大汇元网络科技有限公司</p>
        <p>公司邮箱：service@huiyuanjinfu.com</p>
        <p>邮编：310000</p>
        <p class="address">公司地址：浙江省杭州市拱墅区绿地中央广场3幢907</p>
    </div>
</div>