<div class="wrap wap-more-box">
	<div class="common-head" ui-sref="main.home" ng-if="wap"><i></i><p>{{title}}</p></div>
	<div class="report-box">
		<div ng-if="page==1">
            <img src="images/more/report-titlea.png">
            <div class="video-box">
                <video poster="images/more/report-imga.png" width="100%" height="100%" src="http://www.hongyajinrong.com/images/shipin/liuxinyu.mp4" preload="none" controls></video>
            </div>
            <h3>大成律师刘新宇深度解读国资系互金平台合规发展</h3>
            <p>&#x3000;&#x3000;大家好！我是大成律师事务所刘新宇，很高兴来到啄米理财“国资互金平台创新发展”发布会现场；听了现场各位领导的讲话，尤其是和平影视董事长吴总的演讲，我很赞同；在此，我在啄米理财的发布会也从法律法规角度来解读国资系互金平台如何做好合规发展。</p>
            <p>&#x3000;&#x3000;2016年是互联网金融的合规元年，随着互联网金融监管体系的逐步建立和完善，可以预计整个互联网金融行业将告别野蛮生长的时代，走上合规发展之路。随着互联网金融行业的发展，拥有国企背景的互联网金融平台数量也不断增加，成为整个行业不可忽视的一股力量。这些平台因其国企背景的原因，在业内受到普遍关注，也赢得了不少投资者的信任。在当前监管背景下，如何做好合规发展，成为整个互联网金融行业的表率，是国资系互金平台必须关注的重点问题。</p>
            <p>&#x3000;&#x3000;首先，国资系互金平台必须根据行业相关监管政策，自觉调整，做到合规自律发展。从2015年7月，国务院出台《关于促进互联网金融健康发展的指导意见》起，互联网金融行业监管政策不断出台，整个互联网金融监管体系逐步完善。这些监管政策是所有互联网金融平台合规发展的根本所在。国资系进军互联网金融行业，就必须遵守这些行业规则。从合规化角度来说，互金平台必须明确自身定位，从资金、风控、信息披露、业务方向、资产选择等多方面审视自身发展。而对于国资系互金平台来说，其最大的优势在于公信力强，更容易得到投资者的青睐，也正因此，国资系平台合规发展的责任更加重大。在现有监管体系范围内，做好合规风控，保障投资者利益，同时不断发展壮大自身，才是国资系互金平台发展的正途。</p>
            <p>&#x3000;&#x3000;其次，当前市场上，存在不少国资系互金平台在自身宣传上，刻意夸大国企背景，借助国资系平台的名义过度营销，对自身的安全性、风控措施等虚假宣传，误导投资者的现象。甚至出现了不少假国资、伪国资的互金平台。归根到底，国资系互金平台必须意识到国企背景并不能成为自身从整个互金行业脱颖而出的武器，平台间的竞争终究还是要靠综合实力，包括平台的风控系统、技术等级、资金管理、资产端进入和后期风险保障措施以及未来发展规划等。国企背景能为互金平台吸引到更多的投资者，但想要留住这些投资者，还必须靠平台自身。国资系平台应充分发挥自身在资产端的优势、在公信力、风控措施等方面的优势，努力打造平台自身的产品，创新业务模式，优化用户体验，让国资系真正成为整个互联网金融行业的金字招牌。</p>
            <p>&#x3000;&#x3000;最后，国资系互金平台在践行互联网金融行业使命的同时，更承担着天然的社会责任。对于整个互金行业来说，国资系互金平台应该树立起整个行业的典范，自觉遵守监管措施，做好合规自律，引导整个互金行业的合规化发展。对于投资者而言，国资系平台应该成为互联网金融领域的强心剂，国资系互金平台的发展应该让投资者对这个行业充满信心，从而带动整个互金行业的发展壮大。总体来说，国资系互金平台应该把遵守监管、树立行业典范视为本分，把服务国家经济发展、保障投资者利益视为自身义不容辞的责任。</p>
            <br>
            <p>更多详情见：
                <a ng-if="wap" href="http://wap.huiyuanjinfu.com/conference?upgrade=1&wap=true">http://wap.huiyuanjinfu.com/conference?upgrade=1&wap=true</a>
                <a ng-if="!wap" href="http://wap.huiyuanjinfu.com/conference?upgrade=1">http://wap.huiyuanjinfu.com/conference?upgrade=1&wap=true</a>
            </p>
        </div>
        <div ng-if="page==2">
            <img src="images/more/report-titleb.png">
            <div class="video-box">
                <video poster="images/more/report-imgb.png" width="100%" height="100%" src="http://www.hongyajinrong.com/images/shipin/wuchuanping.mp4" preload="none" controls></video>
            </div>
            <h3>和平影视（集团）董事长吴传平先生发表垂直管理演讲</h3>
            <p>&#x3000;&#x3000;各位领导，各位来宾，女士们，先生们</p>
            <p>&#x3000;&#x3000;很高兴在新年伊始，通过这次通告会与大家见面。</p>
            <p>&#x3000;&#x3000;随着李克强总理在十二届全国人大三次会议政府工作报告中提出“推进金融改革，大力发展普惠金融”，“促进互联网金融健康发展”，这两年互联网金融行业出现了井喷式发展，为中国的实体经济，特别是中小微企业融资尽了一份绵薄之力。但伴随着行业的高速发展，这期间也暴露出了很多问题。</p>
            <p>&#x3000;&#x3000;去年随着银监会等四部委联合出台了《网络借贷信息中介机构业务活动管理办法》，2016年成为了行业监管的元年，和平影视集团作为国有企业，严格按照中央有关指示和网贷管理办法，尽到尽职监管职责。</p>
            <p>&#x3000;&#x3000;在此我代表和平影视集团宣布，对集团直属的啄米理财进行垂直化管理。也是我集团进行垂直管理的首家互金平台。</p>
            <p>&#x3000;&#x3000;在人事管理方面，将在啄米理财内建立党支部，直接管理平台的高管团队，将其人事关系纳入到国有企业编制；在业务管理方面，要求啄米理财严格按照网贷管理办法，以国有企业标准制定并向集团提交开展相关业务的制度、流程和标准，经集团批准后执行；在财务管理方面，集团将指派专人定期对啄米理财的财务报表进行审计，并建立起对平台的第三方资金存管、银行存管、平台自有运营资金的日常巡查与监管制度。确保啄米理财不触碰投资人的投资资金、不设立资金池、不自融、不自担保、不进行虚假宣传、不触及非法集资、平台不提供增信服务，保证投资人的资金安全。</p>
            <p>&#x3000;&#x3000;和平影视集团在此郑重声明，未经集团批准的下属机构一律禁止参与经营互联网金融平台及线下理财业务；集团下属机构如需开展互联网金融和线下理财业务的，需向集团申报并获得集团公司的书面批准；任何未经集团书面批准的平台，不得以任何方式使用“和平影视”及“国有企业”进行宣传，严禁出现“伪国资”进行传播推广。</p>
            <p>&#x3000;&#x3000;最后，希望啄米理财在和平影视集团的领导下，在合法合规的前提下，积极创新，努力拼搏，为中国的实体经济做出自己的贡献！</p>
            <br>
            <p>更多详情见：
                <a ng-if="wap" href="http://wap.huiyuanjinfu.com/conference?upgrade=1&wap=true">http://wap.huiyuanjinfu.com/conference?upgrade=1&wap=true</a>
                <a ng-if="!wap" href="http://wap.huiyuanjinfu.com/conference?upgrade=1">http://wap.huiyuanjinfu.com/conference?upgrade=1&wap=true</a>
            </p>
        </div>
        <div ng-if="page==3">
            <img src="images/more/report-titlec.png">
            <div class="video-box">
                <video poster="images/index/poster.png" width="100%" height="100%" src="http://www.hongyajinrong.com/images/shipin/hepingjusheng.mp4" preload="none" controls></video>
            </div>
            <br>
            <p>&#x3000;&#x3000;第一财经记者注意到，从去年开始的针对互联网金融行业的专项整治工作目前还在进行中，市场洗牌也进入到了白热化阶段，国资正在持续进入这个市场。上海和平影视企业公司（集团）董事长吴传平先生宣布：对集团直属的啄米理财进行垂直管理。这是和平影视集团进行垂直管理的首家互金平台。</p>
            <br>
            <p>&#x3000;&#x3000;记者同时还了解到：未来啄米理财将会被纳入国企范畴。在人事管理方面，和平影视集团将在啄米理财内建立党支部，直接管理平台的高管团队，将其人事关系纳入到国有企业编制；</p>
            <br>
            <p>&#x3000;&#x3000;在业务管理方面，要求啄米理财严格按照网贷管理办法，以国有企业标准制定并向集团提交开展相关业务的制度、流程和标准，经集团批准后执行；</p>
            <br>
            <p>&#x3000;&#x3000;在财务管理方面，集团将指派专人定期对啄米理财的财务报表进行审计，并建立起对平台的第三方资金存管、银行存管、平台自有运营资金的日常巡查与监管制度。</p>
            <br><br>
            <p>更多详情见：<a href="http://wap.huiyuanjinfu.com/conference?upgrade=1">http://wap.huiyuanjinfu.com/conference?upgrade=1&wap=true</a></p>
        </div>
	</div>
</div>