<div class="wap-cjwt-box" ng-controller="RZZCCtrl">
        <div class="common-head" ng-click="toback()" ng-if="wap">
            <i></i>
            <p>{{title}}</p>
        </div>
        <div class="content">
                <div class="question-box">
                    <div class="question-title" ng-click="onClick(0)">
                        <p>如何获得红包或者加息券？</p>
                        <i></i>
                    </div>
                    <div class="question-content" ng-show="num1">
                            <p>(1) 新手注册，完成各项认证即可获得新人大礼包；</p>
                            <p>(2) 邀请好友，将您的邀请码或者邀请好友页面中的邀请链接发送给好友，您的好友通过该链接进行注册后方可获得推荐关系；或者直接在注册界面中自行填写您的邀请码后完成推荐。每成功推荐一位好友注册，可获得20元红包，好友也可获得平台5188元新人红包。邀请5位好友以上还可额外获得40元红包，推荐人每月最多可获得300元的邀请大礼哦！</p>
                            <p>(3) 平台不定期推出的各项活动即可获得相应的红包及加息券，欢迎大家时常关注汇元金服。</p>
                            <p>(4) 以上活动新手标不参与。</p>
                    </div>
                </div>
                <div class="question-box">
                    <div class="question-title" ng-click="onClick(1)">
                        <p>投资过程收费吗？</p>
                        <i></i>
                    </div>
                    <div class="question-content" ng-show="num2">
                        <p>投资过程中不收取任何手续费。</p>
                    </div>
                </div>
                <div class="question-box">
                    <div class="question-title" ng-click="onClick(2)">
                        <p>充值失败了是什么原因？</p>
                        <i></i>
                    </div>
                    <div class="question-content" ng-show="num3">
                        <p>充值失败的原因可能是：</p>
                        <p>(1) 银行卡身份证信息与第三方托管身份信息不一致。</p>
                        <p>(2) 充值金额大于银行单笔或单日累计最高额。</p>
                    </div>
                </div>
                <div class="question-box">
                    <div class="question-title" ng-click="onClick(3)">
                        <p>复投是否有复投红包？</p>
                        <i></i>
                    </div>
                    <div class="question-content" ng-show="num4">
                        <p>复投不定时会有红包，用户可随时关注平台及资金账户。</p>
                    </div>
                </div>
                <div class="question-box">
                    <div class="question-title" ng-click="onClick(4)">
                        <p>什么是加息券，如何使用？</p>
                        <i></i>
                    </div>
                    <div class="question-content" ng-show="num5">
                        <p>加息券是您投资单笔资金时，额外给您的利率奖励。投资时，输入投资金额后，选择要使用的加息券后确认投资即可。比如项目预期年化率为12%，加息券利率为1%，用户使用加息券成功后，可获得实际收益为13%（12%+1%）的年化收益，每张加息券均有使用期限，单笔投资仅可使用一张年化券，无法拆分，无法叠加。</p>
                    </div>
                </div>
            </div>
    </div>