<style type="text/css">
	/* .yjfk .submit-btn{
		height:48px;
	}
	.yjfk .submit-btn span{
		width:100%;
	} */
</style>
<div class="wrap newhand-wrapper yjfk" ng-controller="YJFKController">
	<div class="common-head"><i ui-sref="main.more"></i>
		<p>意见反馈
			<a href='tel:400-872-9577'></a>
		</p>
	</div>
	<div class="wap-xxfk-box">
		<textarea type="text" ng-model="content" placeholder="请详细描述您的问题或意见，我们将及时联系您，为您解决，请保持电话畅通。"></textarea>
	</div>
	<div class="submit-btn" ng-click="toSub()">
		<span>提交反馈</span>
	</div>
</div>