<div class="zjhy" ng-controller="ZJHYCtrl">
    <div class="img-head">
        <img src="images/xxpl/imgHead.png" alt="">
    </div>
    <div class="gsjj">
        <div class="gsjj-title">
            <div class="line"></div>
            <div class="text">公司简介</div>
        </div>
        <div class="gsjj-content">
            汇元金服，全称杭州大汇元网络科技有限公司，2009年4月10日成立，坐落于景色宜人的杭州，注册资金5000万人民币。 公司拥有强大的国资背景，是由多名国内金融投资、风险管理以及高新互联网技术领域的资深专家联合组建的专业金融信息服务平台。 目前，汇元金服已正式加入浙江省金融科技协会，顺利成为其会员单位，并且通过安全联盟行业验证，获得“安全联盟信誉企业”的称号。
        </div>
        <div class="img">
            <img src="images/xxpl/cpjs.png" alt="">
        </div>
    </div>
    <div class="gsjj">
        <div class="gsjj-title">
            <div class="line"></div>
            <div class="text">汇元团队</div>
        </div>
        <div class="gsjj-content">
            <img src="images/xxpl/hytd.png" alt="">
        </div>
    </div>
</div>