<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>汇元献礼-High不停</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/acts/nationalDay2017/css/national2017.css">
  <script src="/common/js/autoFixedLayout.js"></script>
</head>
<body class="nationalSec">
<!--中秋活动图-->
<div class="section1 section"><img src="/acts/nationalDay2017/images/nationalDayBg.png" alt="第1张"></div>

<!--操作中心-->
<div class="section_">
  <div class="lottery_box">
    <div class="lottery" id="lottery">
      <table>
        <tbody>
        <tr>
          <td class="lottery-unit lottery-unit-0 active"><span></span><img src="/acts/nationalDay2017/images/nationalDay2017_10.png" alt=""></td>
          <td class="lottery-unit lottery-unit-1"><span></span><img src="/acts/nationalDay2017/images/nationalDay2017_06.png" alt=""></td>
          <td class="lottery-unit lottery-unit-2"><span></span><img src="/acts/nationalDay2017/images/nationalDay2017_11.png" alt=""></td>
        </tr>
        <tr>
          <td class="lottery-unit lottery-unit-7">
            <span></span>
            <img src="/acts/nationalDay2017/images/nationalDay2017_14.png" alt="">
          </td>
          <td class="lottery_btn zhizhen" id="lottery_btn">
            <img src="/acts/nationalDay2017/images/nationalDay2017_17.png" alt="">
            <!--<a class="lottery_btn " id="lottery_btn" href="javascript:void(0);"></a>-->
            <!--<i class="dask"></i>-->
            <!--<p class="lottery_times">剩余抽奖机会<span id="lottery_times">-</span>次</p>-->
          </td>
          <td class="lottery-unit lottery-unit-3"><span></span><img src="/acts/nationalDay2017/images/nationalDay2017_13.png" alt=""></td>
        </tr>
        <tr>
          <td class="lottery-unit lottery-unit-6"><span></span><img src="/acts/nationalDay2017/images/nationalDay2017_25.png" alt=""></td>
          <td class="lottery-unit lottery-unit-5"><span></span><img src="/acts/nationalDay2017/images/nationalDay2017_28.png" alt=""></td>
          <td class="lottery-unit lottery-unit-4"><span></span><img src="/acts/nationalDay2017/images/nationalDay2017_12.png" alt=""></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="section">
  <a href="javascript:void(0)" class="lottery_chance"><p class="lottery_times">剩余抽奖机会<span id="lottery_times">-</span>次</p></a>
</div>

<!--中奖列表-->
<div class="section section2">
  <div class="lucky_list">
    <img src="/acts/nationalDay2017/images/award_list_border.png" alt="">

      <div class="bd list" id="award_list">
        <ul class="" id="list">

        </ul>
      </div>

  </div>
</div>

<!--<div class="section section2">-->
  <!--<div class="lucky_list">-->
    <!--<img src="/acts/nationalDay2017/images/award_list_border.png" alt="">-->

    <!--<div class="bd list swiper-container" id="award_list">-->
      <!--<ul class="swiper-wrapper" id="list">-->

      <!--</ul>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->


<div class="section">
  <a href="javascript:void(0)" class="my_award" id="myAward"><img src="/acts/nationalDay2017/images/my_award.png" alt=""></a>
</div>
<!--rulr-->
<div class=" section section3">
  <img src="/acts/nationalDay2017/images/wap_txt_03.png" alt="">
  <!--<div class="rule">-->
    <!--<p style="font-size: 0.2rem">活动规则：<br>-->
      <!--1.活动对象：仅限投资周期为60天的用户，此活动与活动一可叠加；<br>-->
      <!--2.用户投资即可获得抽奖机会，单日抽奖次数不限，规则如下:<br>-->
      <!--①0＜用户单笔投资金额＜1万元，可获得一次抽奖机会;-->
      <!--②用户单笔投资金额≥1万元，即可获得2次抽奖机会;-->
      <!--在此基础上，每增加1万元，即可额外获得2次抽奖机会;<br>-->
      <!--3.抽奖机会活动结束后统一清零，活动期间可以累计叠加;<br>-->
      <!--4.现金红包将在中奖后3-5个工作日内发放到用户账户中，现金红包可用于投资或者直接提现;<br>-->
      <!--5.实物中奖用户请主动联系客服QQ进行兑奖，兑奖时间截止至10月20日，逾期未兑奖则视为放弃兑奖资格-->
    <!--</p>-->
  <!--</div>-->
</div>
<div class="section section4">
  <a href="javascript:void(0)" id="investBtn"><img src="/acts/nationalDay2017/images/invest_btn.png" alt=""></a>
</div>
<div class="section section5">
  <img src="/acts/nationalDay2017/images/wap_txt_05.png" alt="">
  <!--<p style="margin: 0.05rem 0;width: 80%;margin: 0 auto;line-height: 1.5">以上活动在结束后将于平台公告和微信公众号【掌上汇元】进行活动名单公示</p>-->
  <!--<p style="margin: 0.2rem 0;font-size: 0.2rem;font-weight: bolder">本活动最终解释权归汇元金服所有</p>-->
</div>
</body>
<%include ../js.html%>
<script src="/acts/nationalDay2017/js/script.js"></script>
<script src="/acts/actCommon/js/jquery.SuperSlide.2.1.1.js"></script>
<!--<script src="/acts/actCommon/js/swiper-3.4.2.min.js"></script>-->
<script>
//  $(function(){
//      $('.lucky_list').slide();
//  })
</script>
</html>
