/*申购相关*/
._investSec{
    padding-top: 1.2rem;
}

._investSec .chart_view{
    background-color: #fff;
    margin:0 0.4rem;
    height: 4rem;
    border-radius: 0.1rem;
    box-shadow: 0 3px 5px #f2d1cc;
    padding-top: 1px;
}

._investSec .chart_view .chart{
    width:2.5rem;
    height: 2.5rem;
    position: relative;
    line-height: 2.5rem;
    color:#ef4922;
    font-size: 0.32rem;
    border:1px solid #ef4922;
    margin:0.5rem auto 0.2rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 -0.1rem 0.2rem #fb905c;
}

._investSec .chart_view .chart p{
    position: relative;
    z-index: 9;
}

._investSec .chart_view .chart:after{
    content:'';
    width:3rem;
    height: 3rem;
    position: absolute;
    left:-1rem;
    top:2rem;
    opacity: 0.9;
    border-radius: 50%;
    background: linear-gradient(90deg,#fb905c,#e6583a);
    animation:slideIn 2s;
    animation-fill-mode: forwards;
}

._investSec .chart_view .chart:before{
    content:'';
    width:4rem;
    height: 4rem;
    position: absolute;
    opacity: 0.9;
    right:-1rem;
    top:2rem;
    border-radius: 50%;
    background: linear-gradient(0deg,#fb905c,#f0724e);
    animation:slideIn 1s;
    animation-fill-mode: forwards;
}

@keyframes slideIn{
    from{
        top:2rem;
    }

    to{
        top:1.5rem;
    }
}

._investSec .invest_item{
    display: block;
    background-color: #fff;
    padding:15px 20px;
    margin-bottom: 10px;
}

/*几种状态*/
._investSec .invest_item.state1 .state{
    border-color:#e4393c !important;
    color:#e4393c !important;
}

._investSec .invest_item.state2 .state{
    border-color:#aaa !important;
    color:#aaa !important;
}

._investSec .invest_item .title{
    font-size: 0.32rem;
    font-weight: bold;
    text-align: left;
    color:#333;
}

._investSec .invest_item  .content{
    margin-top: 15px;
    overflow: hidden;
}

._investSec .invest_item  .content .state{
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:1px solid #e4393c;
    line-height: 60px;
    color:#e4393c;
    font-size: 0.32rem;

}

._investSec .invest_item  .content .itemInfo{
    margin-right: 70px;
    height: 50px;
}

._investSec .invest_item  .content .itemInfo table{
    width:100%;
    color:#aaa;
    text-align: left;
}
._investSec .invest_item  .content .itemInfo table th{
    font-size: 0.28rem;
    line-height: 20px;
    height: 20px;
}

._investSec .invest_item  .content .itemInfo table td{
    font-size:0.36rem;
    height: 60px;
    line-height: 60px;
}

._investSec .invest_item  .content .itemInfo table td.main_red{
    font-size: 0.40rem;
}

._investSec .invest_item aside.date{
    text-align: right;
    color:#aaa;
    font-size: 0.28rem;
    margin-top: 15px;
}