<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我和春天有个约‘惠’</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/acts/actMarch2018/css/luckWheel.css">
  <script src="/common/js/autoFixedLayout.js"></script>
</head>
<body class="luckWheel">
  <div class="section"><img src="/acts/actMarch2018/images/wap_01.png" alt="第1张"></div>
  <div class="section">
    <a href="javascript:void(0)" class="invest_btn"><img src="/acts/actMarch2018/images/btn_invest.png" alt=""></a>
  </div>
  <div class="section"><img src="/acts/actMarch2018/images/wap_03.png" alt="第1张"></div>
  <div class="section">
    <div class="plate_wrap">
      <div class="plate">

      </div>
      <div class="luck_arrow trigger">
      </div>
    </div>
  </div>
  <div class="section">
    <span class="remain">剩余次数：<span id="remainCount">请登录后查看</span></span>
    <a href="javascript:void(0)" class="awards_btn" id="myAward">
      <img src="/acts/actMarch2018/images/btn_awards.png" alt="">
    </a>
  </div>
  <div class="section btn_area">
    <a href="javascript:void(0)" class="lottery_btn" data-type="1"><img src="/acts/actMarch2018/images/lottery_btn1.png" alt=""></a>
    <a href="javascript:void(0)" class="lottery_btn" data-type="2"><img src="/acts/actMarch2018/images/lottery_btn2.png" alt=""></a>
  </div>
  <div class="section"><img src="/acts/actMarch2018/images/wap_05.png"></div>
  <style>

  </style>
  <!-- 我的奖品弹窗 -->
  <!--<div class="award_mask scaleIn">-->
    <!--<div class="content">-->
      <!--<div class="title">-->
        <!--<span class="icon icon-close"></span>-->
      <!--</div>-->
      <!--<div class="body">-->
        <!--<div class="item">-->
          <!--<p>8元红包</p>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <%include ../js.html%>
  <script src="/acts/actMarch2018/js/jquery.easing.min.js"></script>
  <script src="/acts/actMarch2018/js/jQueryRotate.2.2.js"></script>
  <script src="/acts/actMarch2018/js/script.js"></script>
  
</body>
</html>
