<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>汇元金服-悦享圣诞</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" type="text/css" href="/acts/christmas2017/css/christmas2017.css">
  <script src="/common/js/autoFixedLayout.js"></script>
</head>
<body class="christmasSec">
	<div class="top">
		<div class="lucky_list">
			
		</div>
	</div>

	<div class="sec_content">
		<a href="javascript:;" id="invest_btn">立即投资</a>
		
		<div class="mark_day clearfix">
			<ul class="act_30">
				
			</ul>
			<ul class="act_60">
				
			</ul>
			<ul class="act_90">
				
			</ul>
			<ul class="act_180">
				
			</ul>
		</div>
		
		<div class="my_awads"></div>
		
		<div class="money_max">
			
		</div>
		
	</div>
	
	<footer>
		<div class="rule">
			<h2>活动规则</h2>
			<p>
				活动时间12.23-12.25<br />
				1.以上活动与平台其他活动可同享；<br />
				2.话费及京东E卡将在活动结束后5个工作日内默认发放至您的汇元金服注册号码，如需更换号码请至公众号【掌上汇元】提前联系客服登记；<br />
				3.单笔投资仅限使用一个红包；<br />
				4.新手标不参与本活动；<br />
			</p>
		</div>
		<p>以上活动最终解释权归汇元金服所有</p>
	</footer>
	<div class="_tips">
    <div class="tips_list scaleIn">
    	
    </div>
	</div>
</body>
<%include ../js.html%>
<script src="/acts/christmas2017/js/script.js"></script>
</html>
