<style type="text/css">
	img{
		width:100%;
	}
	.hy-new-reg2 .ddyc-content .btn{
		width:100%;
		max-width: 750px;
		height:4rem;
		background-color:#e06a50;
		position:fixed;
		bottom:0;
		text-align: center;
	}
	.ddyc-content .btn a{
		line-height: 4rem;
		font-size:1.5rem;
		letter-spacing:1rem;
		color:#f9faba;
	}
</style>
<div class="hy-new-reg2" ng-controller="zmChannelregCtrl">
	<div class="ddyc-content">
		<img src="images/register-icon/ddyc.jpg" alt="" />
		<div class="btn">
			<a href="/inviteReg">立即注册</a>
		</div>
	</div>
</div>
