<div class="hy-download" ng-controller="hongyadownloadCtrl">
	<img src="images/zhuomidownload/d1.png" />
	<img src="images/zhuomidownload/d2.png" />
	<img src="images/zhuomidownload/d3.png" />
	<img src="images/zhuomidownload/d4.png" />
	<img src="images/zhuomidownload/d5.png" />
	<!-- <span class="dl-btn" ng-click="downloadclick()"></span> -->
	<!-- <span class="dl-btn2" ng-click="downloadclick()"></span> -->
	<div class='download-btn' ng-click="downloadclick()">立即下载</div>
	<div class="share-ios">
		<img ng-click="closethis()" src="images/share-ios.png" />
	</div>
	<div class="share-android">
		<img ng-click="closethis()" src="images/share-android.png" />
	</div>
</div>