<div class="hy-new-reg"  ng-controller="hongyaChannelregCtrl">
	<div class="hy-reg-box1">
		<img src="../../images/market/cdd-a.png">
		<div class="reg-form ">
	        <form ng-model="fromregister" name="myForm" novalidate="">
	            <div>
	              	<i class="reg-new-icon-phone"></i>
	                <input name="mobilephone" type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/" placeholder="请输入手机号（建议使用银行预留手机号）" ng-model="login.mobilephone"
	                    onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" ng-blur="blurID('focusMobilephone',myForm)" minlength="11"
	                    maxlength="11" required>
	                <span></span>
	            </div>
	            <!--图形验证码-->
	            <div>
	              	<i class="reg-new-icon-msg"></i>
	                <input id="imgcode" type="text" placeholder="请输入图形码" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4"
	                    required autocomplete="off" />
	                <span class="img-box"><img ng-click="clickInput($event)" src="login/validateCode2.dos"></span>
	            </div>
	            <div ng-disabled="true">
	              	<i class="reg-new-icon-msg"></i>
	                <input ng-model="login.smsCode" name="smsCode" class="part-input"  type="text" placeholder="请输入短信验证码" maxlength="4" required>
	                <span class="get-msg" ng-click="getyzm(myForm)">{{nowTimer}}</span>
	            </div>
	            <div>
	              	<i class="reg-new-icon-pwd"></i>
	                <input autocomplete="off" type="{{(passwordText|isShowPw).type}}" placeholder="密码为6-18位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/"
	                    ng-model="login.passWord" name="passWord" required/>
	                <span></span>
	            </div>
	            <div style="margin-bottom: -0.5rem;margin-top: -0.5rem;">
	                <p ng-click="agree=!agree"><i class="checkbox" ng-class="{checked:agree}" ng-init="agree=true"></i>我已阅读并同意
	                    <a href="http://www.hongyajinrong.com/zc">《汇元金服注册协议》</a>
	                </p>
	            </div>
	            <div style="margin-bottom: 0;">
	            	<button class="reg-btn" ng-click="zuce(myForm)" ng-disabled="!agree">立即注册</button>
	            </div>
	        </form>
		</div>
	</div>
	<div class="hy-reg-box1">
		<img src="../../images/market/cdd-b.png">
	</div>
	<!-- <span class="reg-fixed" ng-show="showFixedbtn" ng-click="goReg()" style="background: #0778ef">立即注册</span>	 -->
</div>
<div class="share-ios"><img ng-click="closethis()" src="images/share-ios.png" /></div>
<div class="share-android"><img ng-click="closethis()" src="images/share-android.png" /></div>

