<style type="text/css">
	.christmas-box{
		position:relative;
	}
	.christmas-box .getHead{
		width:19rem;
		height:5.5rem;
		background-color:#c96ef8;
		position:absolute;
		top:32%;
		left:50%;
		transform:translateX(-9.5rem);
		-webkit-transform:translateX(-9.5rem);
	}
	.christmas-box .getHead table{
		width:100%;
		text-align: center;
		color:#321895;
	}
	.christmas-box .getHead table th{
		background:#a391e7;
	}
	.christmas-box .getHead table th,.christmas-box .getHead table td{
		text-align:center;
	}
	.christmas-box img.bgImg{
		width:100%;
	}
</style>
<div class="wrap activity-wrap" ng-controller="christmasCtrl">
	<div class="christmas-box">
		
		<div class="getHead">
			<table>
				<tr>
					<th>日期</th>
					<th>幸运用户</th>
					<th>手机号</th>
				</tr>
				<tr>
					<td>12月23日</td>
					<td>张三</td>
					<td>155****5555</td>
				</tr>
				<tr>
					<td>12月24日</td>
					<td>张三</td>
					<td>155****5555</td>
				</tr>
				<tr>
					<td>12月25日</td>
					<td>张三</td>
					<td>155****5555</td>
				</tr>
			</table>
		</div>
		<img src="images/activity/christmas/Christmas.png" class="bgImg" alt="">
		
	</div>
</div>
