<div class="login-wrapper newhand-wrapper cp-wrapper new-register tyjRegSuccess" ng-controller="newAccountSuccess" ng-style='height'>
    <div class="common-head fff-head" ui-sref="main.home"><i ng-click='toback'></i>
        <p>注册</p>
    </div>
    <div class='tyjRegSuccess-bg-wrapper'>
        <i class='bg'></i>
    </div>
    <div class='tyjRegSuccess-content-wrapper'>
        <div class='bg'>
            <div class='content-wrapper'>
                <div class='title'>恭喜您注册成功</div>
                <div class='content'>
                    <span>10,000</span>元体验金及<span>5188</span>元红包<br>已放入您的账户
                </div>
            </div>
        </div>
    </div>
    <div class='tyjRegSuccess-btn' ui-sref="main.bankBillList">立即激活</div>
    <!-- <div class="topbox">
        <main>
            <p>恭喜您注册成功</p>
            <p><span>99999元</span>体验金和<span>618元</span>现金红包</p>
            <p>已经放入您的账户</p>
            <div class="button" ui-sref="main.bankBillList">立即激活</div>
        </main>
    </div> -->
</div>