<div class="wrap login-wrapper newhand-wrapper cp-wrapper new-register tyjRegSuccess" ng-controller="hongyaregCtrl">
    <div class="topbox">
        <div class="common-head" ui-sref="main.home">
            <i></i>
            <p>新用户注册</p>
        </div>
        <main>
            <p>恭喜您注册成功</p>
            <p>
                <span>10000元</span>体验金和
                <span>5188元</span>现金红包</p>
            <p>已经放入您的账户</p>
            <!--<div class="button" ng-click="downloadclick()">立即激活</div>-->
            <div class="button" ui-sref="main.bankBillList">立即激活</div>
        </main>
    </div>
    <div class="share-ios">
        <img ng-click="closethis()" src="images/share-ios.png" />
    </div>
    <div class="share-android">
        <img ng-click="closethis()" src="images/share-android.png" />
    </div>
</div>